option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "8080"
    NODE_ENV: "development"

container_commands:
  01_npm_install_root:
    command: "npm install --production=false"
    cwd: "/var/app/staging"
  02_npm_install_server:
    command: "npm install --production=false"
    cwd: "/var/app/staging/server"
  03_npm_build:
    command: "npm run build"
    cwd: "/var/app/staging"
    env:
      NODE_ENV: "development"
