option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    HealthCheckInterval: 15
    HealthCheckTimeout: 5
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
container_commands:
  01_install_server:
    command: "cd /var/app/staging/server && npm install --production"