option_settings:
  aws:elasticbeanstalk:container:nodejs:
    GzipCompression: true
    ProxyServer: nginx
    NodeCommand: "node server/server.js"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
