option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:container:nodejs:
    GzipCompression: true
    NodeCommand: "cd /var/app/staging/server && NODE_ENV=production node server.js 2>&1 | tee /tmp/app.log"
    ProxyServer: nginx
    GzipLevel: 9
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
