files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_app.conf" :
    content: |
      /var/log/nodejs/nodejs.log

container_commands:
  01_migrate:
    command: "cd server && npm run build --if-present"
    ignoreErrors: true
  02_seed_db:
    command: "node server/scripts/createAdmin.js << EOF
admin
admin@clipper.local
admin123
EOF"
    ignoreErrors: true
